[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.101.1"
pillow = "==9.5.0"
numpy = "==1.24.3"
uvicorn = {extras = ["standard"], version = "==0.22.0"}

[dev-packages]

[requires]
python_version = "3.13"
